:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #fff;
    --title-bgc: #2F303A;
    --secondary-bgc: #F5F4FA;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --contract-color: rgba(255, 255, 255, 0.6);
}

body {
    background: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.hero-box,
.footer {
    background-color: var(--title-bgc);
}

.centered {
    text-align: center;
}


/* ===========Лого=========== */

.logo-up,
.logo-under,
.logo-first-word {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-under {
    color: var(--primary-white-color);
}

.logo-up {
    color: #000000;
    display: flex;
    align-items: center;
    margin-right: 93px;
}

.logo-first-word,
.nav-link:hover,
.nav-link:focus,
.contact:hover,
.contact:focus {
    color: var(--accent-color);
}

.active {
    color: var(--accent-color);
}


/* ===========Навигация сайта=========== */

.nav {
    display: flex;
}

.sitenav {
    display: flex;
    align-items: center;
}

.sitenav-links,
.nav-contacts {
    display: flex;
    align-items: center;
    align-content: center;
}

.nav-contacts {
    align-items: center;
    margin-left: auto;
}

.nav-link,
.contact {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-text-color);
}

.contact-mail {
    display: flex;
    margin-left: auto;
}

.contact {
    color: var(--primary-text-color);
}

.nav-item {
    margin-left: auto;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}

.contact.mail {
    margin-right: 50px;
}


/* ===========Герой=========== */

.hero-box {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    margin-bottom: 30px;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

.button-hero {
    display: inline-block;
    box-shadow: var(--box-shadow);
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    text-align: center;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-decoration: none;
    letter-spacing: 0.06em;
}

.button-hero:hover,
.button-hero:focus {
    background-color: #1b71b8;
}


/* ===========Преимущества/Работы/Команда=========== */

.section {
    padding: 94px 0;
}

.benefits-list,
.work-list,
.team-list {
    display: flex;
    flex-wrap: wrap;
}

.benefits-main-title,
.work-title,
.team-main-title,
.title-team {
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-text-color);
}

.team-main-title,
.benefits-main-title,
.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.text-benefits,
.text-team {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}


/* ===========Преимущества=========== */

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.benefits-main-title {
    margin-top: 0;
    margin-bottom: 0;
}

.benefits-item {
    width: 270px;
}

.benefits-item+.benefits-item {
    margin-left: 30px;
}

.title-benefits {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-transform: uppercase;
}

.text-benefits {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    max-width: 270px;
}


/* ===========Работы=========== */

.works-section {
    padding-top: 0;
}

.work-item+.work-item {
    margin-left: 30px;
}

.work-title {
    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 0;
    padding-bottom: 0;
}


/* ===========Команда=========== */

.team-section {
    background: var(--secondary-bgc);
}

.team-main-title {
    margin-top: 0;
    margin-bottom: 50px;
}

.team-item {
    width: 270px;
}

.team-item+.team-item {
    margin-left: 30px;
}

.team-card {
    padding-top: 30px;
    padding-bottom: 30px;
}

.title-team,
.text-team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.title-team {
    margin-bottom: 10px;
}

.text-team {
    font-weight: 400;
}


/* ===========Подвал=========== */

.footer {
    padding: 60px 0;
}

.address-footer,
.contact-footer {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    text-decoration: none;
    text-decoration-style: none;
}

.footer-list {
    margin-top: 20px;
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.address-footer {
    color: var(--primary-white-color);
}

.contact-footer {
    color: var(--contract-color);
}


/* PORTFOLIO */

.button-links,
.button-links:hover,
.button-links:focus {
    display: inline-block;
    min-width: 73px;
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}

.button-links {
    border: transparent;
    color: var(--title-text-color);
    background-color: var(--secondary-bgc);
}

.button-links:hover,
.button-links:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


/* Проекты */

.links {
    margin-bottom: 50px;
}

.project-btn-flex {
    display: flex;
    justify-content: center;
}

.btn-item:not(:last-child) {
    margin-right: 8px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.project-item {
    /* calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов встроке) */
    /* width: calc((100%-60px)/3); */
    /* margin: 15px; */
    margin-right: 30px;
}

.project-item:nth-child(3n) {
    margin-right: 0;
}

.project-item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}

.proj-cont {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.projects-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.projects-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}